body, .heartMainContainer, .heartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #454545;
    min-height: 90vh;
}
.heartMainContainer {
    position: relative;
}
button, .heartContainer{
    background-color: #2c2c2c;
}
.heartContainer {
    position: relative;
    height: 100px;
    width: 300px;
    border-radius: 30px;
}
.heart {
    font-size: 70px;
    color: #ffffff;
    transition: color 1s ease, transform 1s ease;
}
.heart:hover{
    color: #6c1d9d;
}
.rotate {
    transform: rotate(180deg);
}
button {
    border: none;
    margin: 40px;
}
.play{
    color: #ffffff;
}
.play, .skull {
    font-size: 40px;
    transition: color 1s ease;
}
.play:hover {
    color: black;
}
.skull:hover {
    color: #ffffff;
}
.beatElement {
    animation: beat 1s infinite;
}
.alive {
    color: #e91616;
}
.dead {
    color: black;
}
@keyframes beat {
    0% {
        scale: 1;
    }
    50% {
        scale: 2;
    }
    100% {
        scale: 1;
    }
}